/*****
Authors:  Franck Happy
          Floriant Colly
*****/

#page {
  height: 100%;
  width: 100%;
  background-color: lightgray;
}
/*--------------Debut Template------------------*/
/***Style pour Head***/
.row:after {
  content: "";
  display: table;
  clear: both;
}

#head {
  height: 150px;
  width: 100%;
  background-color: black;
  opacity: 0.7;
}

#head1 {
  float: left;
  width: 19.5%;
  height: 100%;
  color: white;
  font-family: tahoma;
  font-size: 25px;
  text-align: center;
  letter-spacing: 3px;
  font-weight: bold;
}

#head1 a:link, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: none;
}

#head2 {
  float: left;
  width: 80%;
  height: 100%;
  color: white;
  text-align: center;
}

#head2 a:link, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: none;
}

.head2 {
  width: 100%;
  letter-spacing: 5px;
  font-size: 50px;
}

.head21 {
  width: 100%;
  letter-spacing: 5px;
  font-size: 15px;
}
/***Fin de Style pour Head***/



.btn-goup button a:link, a:visited {
  text-decoration: none;
}
.btn-group button {
    background-color: #4CAF50; /* Green background */
    border: 1px solid green; /* Green border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    width: 50%; /* Set a width if needed */
    display: block; /* Make the buttons appear below each other */
}
.btn-group button:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
    background-color: #3e8e41;
}

.btt a:link, a:visited {
  background-color: #4CAF50; /* Green background */
  border: 1px solid green; /* Green border */
  color: white; /* White text */
  text-align: center;
  text-decoration: none;
  padding: 20px 64px;/*  Some padding */
  cursor: pointer; /* Pointer/hand icon */
  width: 90%; /* Set a width if needed */
  display: block; /* Make the buttons appear below each other */
}
.btt a:hover, a:active {
    background-color: #3e8e41;
}
#divpublic {
  height: 300px;
  margin-top: 50px;
    border-radius: 8px;
    background-color: #f2f2f2;
    padding: 100px 500px;
  text-align: center;
}
/***Fin Style pour barre de gauche***/

#container {
  height: 740px;
  width: 100%;
}

.formpub{
  width: 95%;
  margin: 10px auto;
  padding: 20px;
  border: 1px solid blue;
  background: white;
  border-radius: 10px 10px 10px 10px;
}
/**---------------Style des formulaires----------------**/
input[type=text], [type=password], select {
    width: 25%;
    padding: 10px 20px;
    margin: 15px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 25%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 18px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}
/** Pour les types de Resolution**/
.input-groupe {
  margin: 10px 0px 10px 0px;
}

.input-groupe label{
  display: block;
  text-align: left;
  margin: 3px;

}

.input-groupe input{
  height: 25px;
  width: 20%;
  padding:12px 20px;
  border-radius: 5px;
  text-align: center;
  border: 1px solid black;
}
.input-groupe select{
  width: 24%;
  padding: 2px 10px;
  margin: 5px 0;
  display: inline-block;
  border: 1px solid blue;
  border-radius: 4px;
  box-sizing:border-box;
}

#divcon {
  height: 300px;
  margin-top: 50px;
    border-radius: 8px;
    background-color: #f2f2f2;
    padding: 170px;
    text-align: center;
}

#divconhalf1 {
      height: 700px;
      margin-top: 20px;
        border-radius: 8px;
        background-color: #f2f2f2;
        padding: 30px;
        text-align: center;
      float: left;
}

#divconhalf2 {
  height: 700px;
  margin-top: 20px;
    border-radius: 8px;
    background-color: #f2f2f2;
    padding: 30px;
    text-align: center;
  }

#divcon1 {
  height: 500px;
  margin-top: 30px;
    border-radius: 8px;
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}
/**Fin des styles*/

#footer {
  height: 50px;
  width: 100%;
  background-color: black;
}
/*---------------------Fin du Template------------------------*/
